html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;

}

#contato{
    background: #DBD7D1;
}
.contatos{
    padding-top: 100px;
    text-align: center;
}

.produtos {
    height: 100%;
}

.clientes-titulo {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: transparent;
    margin-left: 10%;
    color: #fff;
}

.parallax-window {
    min-height: 800px;
    background: transparent;
}

.banner-home {
    position: absolute;
    top: 96px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
}

.imagemHome {}

.posicao-video {
    position: absolute;
    top: 80%;
}

.imagem-play {
    border: 0px;
    width: 250px;
    height: 100px;
    z-index: 100;
    background: url("../images/play-video.png");
}

.imagem-play:hover {
    cursor: pointer;
    border: 0px;
    background: url("../images/play-video-hover.png")
}

.scrolldown {
    width: 100%;
    top: 800px;
    position: absolute;
    display: flex;
    z-index: 100;
    justify-content: center;
}
.produtos {
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
}

.produtos-img {
    width: 100%;
}
.texto-pao {
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        padding: 300px;        
}
#transicao{
    position: relative;
}

@media(min-width: 319px) {
    .texto-pao {
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;       
        padding: 0px;        
}
    
    #imagem-cesta{
        margin-top: -366px;
        height: 1800px;
    }    
   
}

@media(min-width: 240px) {
    .texto-pao {
        color: #fff;
        position: absolute;
        top: 0;
        text-align: center;
        padding: 0px;
    }   
   
    
}

@media(min-width: 424px) {
}

@media(min-width: 767px) {    
    
    #imagem-cesta{
        height: 1200px;
    }
    .texto-pao {
        color: #fff;
        position: absolute;
        top: 0;
        text-align: center;
        padding: 0px;     
}   
}

@media(min-width: 1439px) {  
  
   
}

@media (min-width:1441px) {
    
}
@media (min-width:1800px) {
    #imagem-cesta{
        height: 1400px;
    }
    
}

@media(max-width:768px) {
    .banner-home {
        flex-direction: column;
        width: 100%;
    }
    .banner-home img {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


